.App {
  text-align: center;
}


.wrapper {
  position: fixed;
  bottom: 0;
  background-color:#009879;
  text-align: center;
  color: white;
  width: 100%;
}

.headerTextContainer {
  width: 38%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.headerText {
  color: white;
  text-decoration: none;
  font-size: 22px;
  font-weight: 700;
}
.headerText:hover{
  color: rgb(214, 205, 205);

}

.homeContainer{
  height: 83vh;
  width: 100%;
  display: flex;
}
.homeLeftContainer{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #009879;
  padding: 12px;
  text-align: center;
  /* object-fit: cover;
  background-size: cover; */
}
.rightHomeContainer{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #009879;

}
.rightHomeContainer img{
 height: 60vh;
 width: 35vw;
}
.tableContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.SignUpContainer {
  width: 75%;
  height: 75%;
  margin: auto;
}

a {
  text-decoration: none;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table th,
.styled-table td {
  padding: 8px 8px;
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 70%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.rightHomeContainerText{
  color: #009879;
}
.rightHomeContainerText:hover{
  color: #066755;
}
.mainContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.topHeader{
  display: flex;
  width: 70%;
  margin-top: 4vh;
  /* background-color: black; */
}
.menu{
  display: flex;
  gap: 3vw;
  width: 100%;
  
}
.addRecord{
  width: 70%;
  /* background-color: black; */
}
#filter{
  height: 33px;
}
#filterBtn{
  height: 33px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
#AddNewRecord{
  height: 33px;
}
.filterBox{
  display: flex;
  gap: 4px;
}
.searchRecords{
  display: flex;
  gap: 4px;
}
.addRecordContainer1{
  display: flex;
  justify-content: space-between;
  margin-top: 3vh;
}